@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/*
--- 01 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 02 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
0.5px
0.75px

--- 03 COLORS
#404144  for mini-text
#fdf2e9, white

- Primary:

- Tints:
#ccc200
#3d3a00

- Shades: 
#96979d;

- Accents:

--- 04 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 05 BORDER-RADIUS

Default: 0.4rem
Medium: 0.8rem
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem #8f8800;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

section {
  position: relative;
}

.container-xxl {
  /* 1700px */
  max-width: 170rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  color: #555;
  border-radius: 0.4rem;
  padding: 0.8rem 3rem;
  overflow: hidden;
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.6, 0.6, 0, 1);
}

.btn-yellow {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #ccc200;
  color: #000000;
  border-radius: 0.4rem;
  padding: 0.8rem 3rem;
  overflow: hidden;
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.6, 0.6, 0, 1);
}

.btn-lg {
  display: inline-flex;
  align-items: center;
  padding: 1.2rem 4rem;
}

/* Hover animation */

.btn:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc200;
  color: #ffffff;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
  transform: translateY(0%);
}

.btn-yellow:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-yellow .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-yellow:hover .hover {
  transform: translateY(0%);
}

/* Headings */
.heading-h1,
.heading-h2,
.heading-h3 {
  font-weight: 500;
  color: #ffffff;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  line-height: 1.1;
}

.heading-h1-black,
.heading-h2-black,
.heading-h3-black {
  font-weight: 500;
  color: #000;
  letter-spacing: -0.5px;
  line-height: 1.1;
}

.heading-h1 {
  font-size: 3rem;
}

.heading-h2-black {
  font-size: 4.4rem;
  color: #000;
  margin-bottom: 6.4rem;
}

.heading-h3-black {
  font-size: 2.4rem;
}

.heading-h3 {
  font-size: 2.4rem;
  line-height: 1.2;
}

.mini-text {
  font-size: 1.6rem;
  color: #404144;
  margin-top: 12.8rem;
  line-height: 1.6;
}

/* span */

/* .subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
} */
