/* rem and em no NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1200PX (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16 = 56.25% */
    font-size: 56.25%;
  }

  .why-us-container {
    gap: 6rem;
  }

  .btn-yellow {
    margin-top: 2.5rem;
  }
}

/**************************/
/* BELOW 1000PX () */
/**************************/

@media (max-width: 62.5em) {
  .heading-h2-black {
    margin-bottom: 0.2rem;
  }
  .galery-container {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }

  .galery-text {
    margin-bottom: 3.2rem;
    margin-top: -2rem;
  }

  .why-us-container {
    margin-top: 7rem;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  .image-wrapper-faq {
    display: none;
  }

  .faq {
    max-width: 110rem;
  }

  .btn-yellow {
    margin-top: 7.4rem;
  }

  .testimonials-container {
    grid-template-columns: 1fr;
    gap: 4.8rem;
    margin: 6rem auto;
  }

  .card-body {
    max-width: 70rem;
    padding: 4rem;
  }

  .cta-form {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/**************************/
/* BELOW 750PX () */
/**************************/

@media (max-width: 47em) {
  .cta-container {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    display: none;
  }

  /* Stop showing main-menu */

  .main-nav,
  .nav-btn {
    display: none;
  }

  /* Hamburger Menu */

  .hamburger {
    display: block;
    position: fixed;
    top: 33px;
    right: 33px;
    z-index: 10;
    cursor: pointer;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 25px;
    height: 2px;
    top: 0;
    left: 0;
    background: #cccccc;
    transition: all 0.5s;
  }

  .hamburger-middle {
    transform: translateY(7px);
  }
  .hamburger-bottom {
    transform: translateY(14px);
  }

  /* Transition hamburger to X when open */

  .open {
    transform: rotate(90deg);
  }

  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }

  .open .hamburger-middle {
    display: none;
  }

  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }

  /* Overlay */

  .overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  /* Stop body scroll */

  .stop-scrolling {
    overflow: hidden;
    height: 100%;
  }
  /* Mobile menu */

  .mobile-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    z-index: 4;
    background: #ccc200;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  /* Bring menu from right */

  .show-menu {
    transform: translateX(0);
  }

  .mobile-main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 50px;
    width: 100%;
  }

  .mobile-main-menu ul li {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px #555 dotted;
    width: 100%;
    text-align: right;
    padding-bottom: 8px;
  }

  .mobile-main-menu ul li a {
    color: #3d3a00;
    transition: color 0.6s;
  }

  .mobile-main-menu ul li a:hover {
    color: #3d3a00;
  }
}
