/**************************/
/* NAVIGATION */
/**************************/

.header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      rgba(54, 54, 54, 0.6),
      rgba(54, 54, 54, 0.6)
    ),
    url(/img/hero-img.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
}

/* Logo */

.logo {
  width: 15rem;
  height: auto;
}

.logo img {
  display: block;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  margin-bottom: 5.5rem;
}

.main-nav ul {
  display: flex;
  gap: 3.2rem;
}

.main-nav li {
  position: relative;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
}

/* Menu item bottom border */

.main-nav ul li {
  position: relative;
}

.main-nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center;
}

.main-nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  transition-duration: 0.4s;
}

/**************************/
/* HERO*/
/**************************/

.hero-container {
  height: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.hero-text {
  font-size: 2.1rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn-lg i {
  margin-left: 2rem;
  font-size: 2.5rem;
}

.hero-container .heading-h1 {
  max-width: 65rem;
}

.hero-container .hero-mini-container {
  max-width: 40rem;
}

/**************************/
/* GALERY SECTION */
/**************************/

.mini-text {
  margin-top: 12.8rem;
  font-size: 1.6rem;
  color: #404144;
}

hr {
  margin-top: 4.8rem;
  margin-bottom: 6.4rem;
  height: 1px;
  background-color: #96979d;
}

.galery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  overflow: hidden;
}

.galery-text {
  font-size: 2.1rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  max-width: 50rem;
}

.first-car img,
.second-car img {
  border-radius: 0.8rem;
  transition: all 0.4s;
  cursor: pointer;
}

.first-car img:hover,
.second-car img:hover {
  transform: scale(1.1);
}

.image-wrapper {
  overflow: hidden;
  position: relative;
  border-radius: 0.8rem;
}

.image-wrapper::after {
  content: "\f061";
  font-family: "Line Awesome Free";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 0.4rem;
  font-weight: 900;
  color: #fff;
  background-color: #ccc200;
  width: 4rem;
  height: 4rem;
  transform: scale(0%);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.image-wrapper:hover::after {
  bottom: 1rem;
  right: 1rem;
  opacity: 1;
  transform: scale(100%);
}

.galery-text-car {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.galery-text-car span {
  font-size: 1.5rem;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 0.8rem;
}

.galery-text-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.galery-text-details ul {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
}

.galery-text-details strong {
  font-size: 2rem;
}

.galery-text-details ul li i {
  font-size: 1.7rem;
}

/**************************/
/* WHY US SECTION */
/**************************/

.why-us-container {
  margin-top: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}

.why-us-items {
  border-radius: 0.8rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.why-us-items:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.why-us-container .heading-h3 {
  color: #000;
}

.why-us-container .mini-text {
  margin-top: 1rem;
}

.icon-bg {
  font-size: 3.2rem;
  margin: 2.4rem;
  background-color: #ccc200;
  padding: 1rem;
  border-radius: 50%;
}

.why-us-text {
  margin: 2.4rem;
  margin-top: 1px;
}

.why-us-text h3 {
  margin-bottom: 2rem;
}

/* .why-us-container div {
  max-width: 32rem;
} */

/**************************/
/* FAQ SECTION */
/**************************/

.image-wrapper-faq {
  overflow: hidden;
  border-radius: 0.8rem;
}

.faq-second-grid {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.faq {
  max-width: 70rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000000;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.8rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active i {
  transform: rotate(180deg);
}

i {
  transition: transform 0.5s ease-in;
}

.btn-yellow {
  margin-top: 7.4rem;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 130rem;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  position: relative;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  padding: 4rem 0;
  background-color: #faf9e6;
  border-radius: 0.8rem;
}

.card img {
  border-radius: 50%;
  width: 10rem;
}

.testimonial-text i {
  font-size: 5.2rem;
  background-color: #ccc200;
  position: absolute;
  top: -1.6rem;
  color: #fff;
}

.testimonial-text {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.testimonial-name {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.testimonial-job {
  font-size: 1.6rem;
}

/**************************/
/* CTA SECTION */
/**************************/

.cta-container {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #ccc200;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;

  background-image: linear-gradient(to left top, #e6e180, #d6ce33);
  overflow: hidden;

  /* temp */
  height: 50rem;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #3d3a00;
}

.cta-text-box .heading-h2-black {
  color: #3d3a00;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to left top,
      rgba(230, 225, 128, 0.1),
      rgba(214, 206, 51, 0.1)
    ),
    url("../img/Ferrari-img/ferrari-488-img\ \(5\).jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 0.8rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: #3d3a00;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.cta-form button:hover {
  background-color: #fff;
  color: #555;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem #8f8800;
}

/**************************/
/* FOOTER SECTION */
/**************************/

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}

.grid-5 {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  font-size: 3rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #000000;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
